
.gap-top-no {
	margin-top : 0;
}

.gap-top-sm {
	margin-top : 10px;
}

.gap-top-mid {
	margin-top : 20px;
}

.gap-top-big {
	margin-top : 30px;
}

.gap-top-lg {
	margin-top : 40px;
}

.gap-bottom-no {
	margin-bottom : 0;
}

.gap-bottom-sm {
	margin-bottom : 10px;
}

.gap-bottom-mid {
	margin-bottom : 20px;
}

.gap-bottom-big {
	margin-bottom : 28px;
}

.gap-bottom-lg {
	margin-bottom : 40px;
}

.gap-top-bottom-no {
	margin : 0;
}

.gap-top-bottom-sm {
	margin : 10px auto;
}

.gap-top-bottom-mid {
	margin : 20px auto;
}

.gap-top-bottom-big {
	margin : 30px auto;
}

.gap-top-bottom-lg {
	margin : 40px auto;
}
.gap-top-bottom-custom {
    margin : 50px auto;
}

.gap-top-bottom-big-2x {
	margin : 90px auto;
}